---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
    name: "#{ domain.name }#-production"
spec:
    dnsNames:
        - "#{ domain.name }#"
        - "*.#{ domain.name }#"
    duration: 160h
    issuerRef:
        name: #{ cluster_issuer }#
        kind: ClusterIssuer
    privateKey:
        algorithm: ECDSA
    secretName: "#{ domain.name }#-production-tls"
    usages:
        - digital signature
